In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('../data/iq_data.csv')
df['Entity'].unique()

array(['Africa', 'America', 'Argentina', 'Asia', 'Australia', 'Austria',
       'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'China', 'Denmark',
       'Dominica', 'Estonia', 'Europe', 'Finland', 'France', 'Germany',
       'Global', 'Ireland', 'Israel', 'Japan', 'Kenya', 'Netherlands',
       'New Zealand', 'Norway', 'Oceania', 'Saudi Arabia', 'South Africa',
       'South Korea', 'Spain', 'Sudan', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'], dtype=object)

In [62]:
read_file = pd.read_excel (r'../data/AHDI_countries.xlsx', sheet_name=2)
read_file.to_csv (r'../data/AHDI_countries.csv', index = None, header=True)
AHDI_df = pd.read_csv('../data/AHDI_countries.csv', index_col=0, skiprows =0)
AHDI_df

,1870,1880,1890,1900,1913,1925,1929,1933,1938,1950,...,1975,1980,1985,1990,1995,2000,2005,2007,2010,2015
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Argentina,0.038852,0.042811,0.046814,0.056325,0.068095,0.092978,0.104660,0.118352,0.131428,0.164877,...,0.245418,0.263418,0.267702,0.270520,0.290246,0.301488,0.343744,0.340462,0.357299,0.394769
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.210864,...,0.311470,0.341183,0.379532,0.404134,0.441377,0.482802,0.527112,0.495643,0.577474,0.476081
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.182568,...,0.264070,0.287298,0.316659,0.335111,0.358790,0.349224,0.380097,0.353625,0.382429,0.441073
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.242898,...,0.278807,0.265433,0.276717,0.323875,0.363835,0.411640,0.466567,0.508486,0.515876,0.442137
Bolivia,0.008219,0.013802,0.018892,0.032067,0.046336,0.072025,0.074370,0.072778,0.078827,0.090930,...,0.142518,0.169113,0.200523,0.233940,0.251810,0.265291,0.291580,0.267460,0.295838,0.292125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,...,0.002470,0.005706,0.015331,0.030790,0.043586,0.062629,0.082400,0.054839,0.103942,0.082400
Australia,0.084251,0.119601,0.160213,0.199035,0.266445,0.278289,0.302046,0.320607,0.334075,0.367147,...,0.525533,0.588212,0.640268,0.697280,0.734329,0.742200,0.773166,0.591454,0.770840,0.777875
New Zealand,0.111522,0.130305,0.158318,0.199035,0.256944,0.261829,0.284614,0.297079,0.305408,0.322104,...,0.437700,0.439699,0.472456,0.489935,0.543789,0.609390,0.685290,0.534765,0.637348,0.662085
Canada,0.176921,0.196931,0.217643,0.236771,0.262415,0.297736,0.307666,0.323860,0.328041,0.347707,...,0.454166,0.507998,0.523121,0.619793,0.677081,0.715623,0.826438,0.645741,0.759116,0.763978
USA,0.171398,0.189454,0.214109,0.236304,0.253994,0.292371,0.306535,0.318004,0.329841,0.377949,...,0.542753,0.585799,0.632455,0.697280,0.752664,0.745893,0.795139,0.798664,0.878398,0.786637

In [67]:
# edit
north_america = ['USA', 'Canada', 'Mexico']
south_america = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']
africa = ['Nigeria', 'Ethiopia', 'Egypt', 'DR Congo', 'Tanzania', 'South Africa',
    'Kenya', 'Uganda', 'Algeria', 'Sudan', 'Morocco', 'Angola', 'Mozambique',
    'Ghana', 'Madagascar', 'Cameroon', 'Côte d\'Ivoire', 'Niger', 'Burkina Faso',
    'Mali', 'Malawi', 'Zambia', 'Senegal', 'Chad', 'Somalia', 'Zimbabwe',
    'Guinea', 'Rwanda', 'Benin', 'Burundi', 'Tunisia', 'South Sudan', 'Togo',
    'Sierra Leone', 'Libya', 'Congo', 'Liberia', 'Central African Republic',
    'Mauritania', 'Eritrea', 'Namibia', 'Gambia', 'Botswana', 'Gabon',
    'Lesotho', 'Guinea-Bissau', 'Equatorial Guinea', 'Mauritius', 'Eswatini',
    'Djibouti', 'Comoros', 'Cabo Verde', 'Sao Tome & Principe', 'Seychelles'
]
africa = AHDI_df[AHDI_df.index.isin(africa)].index
asia = [ 
 'Afghanistan',
 'Armenia',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Bhutan',
 'Brunei',
 'Cambodia',
 'China',
 'Cyprus',
 'East Timor',
 'Egypt',
 'Georgia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Lebanon',
 'Malaysia',
 'Maldives',
 'Mongolia',
 'Myanmar',
 'Nepal',
 'North Korea',
 'Oman',
 'Pakistan',
 'Palestine',
 'Philippines',
 'Qatar',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Sri Lanka',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Turkey',
 'Turkmenistan',
 'United Arab Emirates',
 'Uzbekistan',
 'Vietnam',
 'Yemen'
]

asia = AHDI_df[AHDI_df.index.isin(asia)].index
europe = [
 'Albania',
 'Andorra',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Kazakhstan',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom',
 'Vatican City'
]
europe = AHDI_df[AHDI_df.index.isin(europe)].index
oceania = ['Australia',
 'Federated States of Micronesia',
 'Fiji',
 'Kiribati',
 'Marshall Islands',
 'Nauru',
 'New Zealand',
 'Palau',
 'Papua New Guinea',
 'Samoa',
 'Solomon Islands',
 'Tonga',
 'Tuvalu',
 'Vanuatu'
]
oceania = AHDI_df[AHDI_df.index.isin(oceania)].index

,1870,1880,1890,1900,1913,1925,1929,1933,1938,1950,...,1975,1980,1985,1990,1995,2000,2005,2007,2010,2015
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Australia,0.084251,0.119601,0.160213,0.199035,0.266445,0.278289,0.302046,0.320607,0.334075,0.367147,...,0.525533,0.588212,0.640268,0.697280,0.734329,0.74220,0.773166,0.591454,0.770840,0.777875
New Zealand,0.111522,0.130305,0.158318,0.199035,0.256944,0.261829,0.284614,0.297079,0.305408,0.322104,...,0.437700,0.439699,0.472456,0.489935,0.543789,0.60939,0.685290,0.534765,0.637348,0.662085

In [34]:
countries = [
    'China', 'India', 'Indonesia', 'Pakistan', 'Bangladesh', 'Japan', 'Philippines',
    'Vietnam', 'Turkey', 'Iran', 'Thailand', 'Myanmar', 'South Korea', 'Iraq',
    'Afghanistan', 'Saudi Arabia', 'Uzbekistan', 'Malaysia', 'Yemen', 'Nepal',
    'North Korea', 'Sri Lanka', 'Kazakhstan', 'Syria', 'Cambodia', 'Jordan',
    'Azerbaijan', 'United Arab Emirates', 'Tajikistan']
len(countries)

29

In [37]:
ls = '''Afghanistan
Armenia
Azerbaijan
Bahrain
Bangladesh
Bhutan
Brunei
Cambodia
China
Cyprus
East Timor
Egypt
Georgia
India
Indonesia
Iran
Iraq
Israel
Japan
Jordan
Kazakhstan
Kuwait
Kyrgyzstan
Laos
Lebanon
Malaysia
Maldives
Mongolia
Myanmar
Nepal
North Korea
Oman
Pakistan
Palestine
Philippines
Qatar
Russia
Saudi Arabia
Singapore
South Korea
Sri Lanka
Syria
Taiwan
Tajikistan
Thailand
Turkey
Turkmenistan
United Arab Emirates
Uzbekistan
Vietnam
Yemen'''

len(ls.split('\n'))

51

In [55]:
ls = '''
Albania — Tirana
Andorra — Andorra la Vella
Armenia — Yerevan
Austria — Vienna
Azerbaijan — Baku
Belarus — Minsk
Belgium — Brussels
Bosnia and Herzegovina — Sarajevo
Bulgaria — Sofia
Croatia — Zagreb
Cyprus — Nicosia
Czech Republic — Prague
Denmark — Copenhagen
Estonia — Tallinn
Finland — Helsinki
France — Paris
Georgia — Tbilisi
Germany — Berlin
Greece — Athens
Hungary — Budapest
Iceland — Reykjavík
Ireland — Dublin
Italy — Rome
Kazakhstan — Astana
Latvia — Riga
Liechtenstein — Vaduz
Lithuania — Vilnius
Luxembourg — Luxembourg
Macedonia — Skopje
Malta — Valletta
Moldova — Chi?inau
Monaco — Monaco
Montenegro — Podgorica
Netherlands — Amsterdam
Norway — Oslo
Poland — Warsaw
Portugal — Lisbon
Romania — Bucharest
Russia — Moscow
San Marino — San Marino
Serbia — Belgrade
Slovakia — Bratislava
Slovenia — Ljubljana
Spain — Madrid
Sweden — Stockholm
Switzerland — Bern
Turkey — Ankara
Ukraine — Kiev
United Kingdom — London
Vatican City — Vatican City
'''

europe =[]
for i in ls.split('\n')[1:][:-1] :
    europe.append(i.split(' —')[0])
    
europe

['Albania',
 'Andorra',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Kazakhstan',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom',
 'Vatican City']

In [59]:
str = '''Australia
Federated States of Micronesia
Fiji
Kiribati
Marshall Islands
Nauru
New Zealand
Palau
Papua New Guinea
Samoa
Solomon Islands
Tonga
Tuvalu
Vanuatu
'''
str.split('\n')[:-1]

['Australia',
 'Federated States of Micronesia',
 'Fiji',
 'Kiribati',
 'Marshall Islands',
 'Nauru',
 'New Zealand',
 'Palau',
 'Papua New Guinea',
 'Samoa',
 'Solomon Islands',
 'Tonga',
 'Tuvalu',
 'Vanuatu']