In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('../data/iq_data.csv')
df['Entity'].unique()

array(['Africa', 'America', 'Argentina', 'Asia', 'Australia', 'Austria',
       'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'China', 'Denmark',
       'Dominica', 'Estonia', 'Europe', 'Finland', 'France', 'Germany',
       'Global', 'Ireland', 'Israel', 'Japan', 'Kenya', 'Netherlands',
       'New Zealand', 'Norway', 'Oceania', 'Saudi Arabia', 'South Africa',
       'South Korea', 'Spain', 'Sudan', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'], dtype=object)

In [14]:
read_file = pd.read_excel (r'../data/AHDI_countries.xlsx', sheet_name=2)
read_file.to_csv (r'../data/AHDI_countries.csv', index = None, header=True)
AHDI_df = pd.read_csv('../data/AHDI_countries.csv', index_col=0, skiprows =0)
AHDI_df

,1870,1880,1890,1900,1913,1925,1929,1933,1938,1950,...,1975,1980,1985,1990,1995,2000,2005,2007,2010,2015
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Argentina,0.038852,0.042811,0.046814,0.056325,0.068095,0.092978,0.104660,0.118352,0.131428,0.164877,...,0.245418,0.263418,0.267702,0.270520,0.290246,0.301488,0.343744,0.340462,0.357299,0.394769
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.210864,...,0.311470,0.341183,0.379532,0.404134,0.441377,0.482802,0.527112,0.495643,0.577474,0.476081
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.182568,...,0.264070,0.287298,0.316659,0.335111,0.358790,0.349224,0.380097,0.353625,0.382429,0.441073
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.242898,...,0.278807,0.265433,0.276717,0.323875,0.363835,0.411640,0.466567,0.508486,0.515876,0.442137
Bolivia,0.008219,0.013802,0.018892,0.032067,0.046336,0.072025,0.074370,0.072778,0.078827,0.090930,...,0.142518,0.169113,0.200523,0.233940,0.251810,0.265291,0.291580,0.267460,0.295838,0.292125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,...,0.002470,0.005706,0.015331,0.030790,0.043586,0.062629,0.082400,0.054839,0.103942,0.082400
Australia,0.084251,0.119601,0.160213,0.199035,0.266445,0.278289,0.302046,0.320607,0.334075,0.367147,...,0.525533,0.588212,0.640268,0.697280,0.734329,0.742200,0.773166,0.591454,0.770840,0.777875
New Zealand,0.111522,0.130305,0.158318,0.199035,0.256944,0.261829,0.284614,0.297079,0.305408,0.322104,...,0.437700,0.439699,0.472456,0.489935,0.543789,0.609390,0.685290,0.534765,0.637348,0.662085
Canada,0.176921,0.196931,0.217643,0.236771,0.262415,0.297736,0.307666,0.323860,0.328041,0.347707,...,0.454166,0.507998,0.523121,0.619793,0.677081,0.715623,0.826438,0.645741,0.759116,0.763978
USA,0.171398,0.189454,0.214109,0.236304,0.253994,0.292371,0.306535,0.318004,0.329841,0.377949,...,0.542753,0.585799,0.632455,0.697280,0.752664,0.745893,0.795139,0.798664,0.878398,0.786637

In [15]:
# edit
north_america = ['USA', 'Canada', 'Mexico']
south_america = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']
africa = ['Nigeria', 'Ethiopia', 'Egypt', 'DR Congo', 'Tanzania', 'South Africa',
    'Kenya', 'Uganda', 'Algeria', 'Sudan', 'Morocco', 'Angola', 'Mozambique',
    'Ghana', 'Madagascar', 'Cameroon', 'Côte d\'Ivoire', 'Niger', 'Burkina Faso',
    'Mali', 'Malawi', 'Zambia', 'Senegal', 'Chad', 'Somalia', 'Zimbabwe',
    'Guinea', 'Rwanda', 'Benin', 'Burundi', 'Tunisia', 'South Sudan', 'Togo',
    'Sierra Leone', 'Libya', 'Congo', 'Liberia', 'Central African Republic',
    'Mauritania', 'Eritrea', 'Namibia', 'Gambia', 'Botswana', 'Gabon',
    'Lesotho', 'Guinea-Bissau', 'Equatorial Guinea', 'Mauritius', 'Eswatini',
    'Djibouti', 'Comoros', 'Cabo Verde', 'Sao Tome & Principe', 'Seychelles'
]
africa = AHDI_df[AHDI_df.index.isin(africa)].index
asia = [ 
 'Afghanistan',
 'Armenia',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Bhutan',
 'Brunei',
 'Cambodia',
 'China',
 'Cyprus',
 'East Timor',
 'Egypt',
 'Georgia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Lebanon',
 'Malaysia',
 'Maldives',
 'Mongolia',
 'Myanmar',
 'Nepal',
 'North Korea',
 'Oman',
 'Pakistan',
 'Palestine',
 'Philippines',
 'Qatar',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Sri Lanka',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Turkey',
 'Turkmenistan',
 'United Arab Emirates',
 'Uzbekistan',
 'Vietnam',
 'Yemen'
]

asia = AHDI_df[AHDI_df.index.isin(asia)].index
europe = [
 'Albania',
 'Andorra',
 'Armenia',
 'Austria',
 'Azerbaijan',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Kazakhstan',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'United Kingdom',
 'Vatican City'
]
europe = AHDI_df[AHDI_df.index.isin(europe)].index
oceania = ['Australia',
 'Federated States of Micronesia',
 'Fiji',
 'Kiribati',
 'Marshall Islands',
 'Nauru',
 'New Zealand',
 'Palau',
 'Papua New Guinea',
 'Samoa',
 'Solomon Islands',
 'Tonga',
 'Tuvalu',
 'Vanuatu'
]
oceania = AHDI_df[AHDI_df.index.isin(oceania)].index

In [16]:
AHDI_df.columns = list(map( lambda x : int(x/10) * 10, AHDI_df.columns.astype('int')))
AHDI_df

,1870,1880,1890,1900,1910,1920,1920,1930,1930,1950,...,1970,1980,1980,1990,1990,2000,2000,2000,2010,2010
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Argentina,0.038852,0.042811,0.046814,0.056325,0.068095,0.092978,0.104660,0.118352,0.131428,0.164877,...,0.245418,0.263418,0.267702,0.270520,0.290246,0.301488,0.343744,0.340462,0.357299,0.394769
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.210864,...,0.311470,0.341183,0.379532,0.404134,0.441377,0.482802,0.527112,0.495643,0.577474,0.476081
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.182568,...,0.264070,0.287298,0.316659,0.335111,0.358790,0.349224,0.380097,0.353625,0.382429,0.441073
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.242898,...,0.278807,0.265433,0.276717,0.323875,0.363835,0.411640,0.466567,0.508486,0.515876,0.442137
Bolivia,0.008219,0.013802,0.018892,0.032067,0.046336,0.072025,0.074370,0.072778,0.078827,0.090930,...,0.142518,0.169113,0.200523,0.233940,0.251810,0.265291,0.291580,0.267460,0.295838,0.292125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,0.002470,...,0.002470,0.005706,0.015331,0.030790,0.043586,0.062629,0.082400,0.054839,0.103942,0.082400
Australia,0.084251,0.119601,0.160213,0.199035,0.266445,0.278289,0.302046,0.320607,0.334075,0.367147,...,0.525533,0.588212,0.640268,0.697280,0.734329,0.742200,0.773166,0.591454,0.770840,0.777875
New Zealand,0.111522,0.130305,0.158318,0.199035,0.256944,0.261829,0.284614,0.297079,0.305408,0.322104,...,0.437700,0.439699,0.472456,0.489935,0.543789,0.609390,0.685290,0.534765,0.637348,0.662085
Canada,0.176921,0.196931,0.217643,0.236771,0.262415,0.297736,0.307666,0.323860,0.328041,0.347707,...,0.454166,0.507998,0.523121,0.619793,0.677081,0.715623,0.826438,0.645741,0.759116,0.763978
USA,0.171398,0.189454,0.214109,0.236304,0.253994,0.292371,0.306535,0.318004,0.329841,0.377949,...,0.542753,0.585799,0.632455,0.697280,0.752664,0.745893,0.795139,0.798664,0.878398,0.786637

In [17]:
df = pd.read_csv('../data/iq_data.csv')
df['Year'] = (df['Year'] // 10)
df['Year'].astype('int', )
df['Year'] = df['Year'] * 10

df.columns = ['Entity', 'Year', 'Average IQ Change', 'Fullscale_IQ_Change']

df = df[df['Fullscale_IQ_Change'].notnull()]
df.drop('Average IQ Change', inplace=True, axis=1)
df

     Entity  Year  Fullscale_IQ_Change
0    Africa  1960                 0.00
1    Africa  1960                 0.33
2    Africa  1980                 3.39
3    Africa  1980                 5.31
4    Africa  1990                10.83
5    Africa  2000                13.08
6   America  1900                 0.00
7   America  1920                 0.42
8   America  1930                12.90
9   America  1940                14.58
10  America  1970                27.78
11  America  2000                32.26
14     Asia  1950                 0.00
15     Asia  1950                 0.90
16     Asia  1960                10.74
17     Asia  1960                19.20
18     Asia  1980                28.05
19     Asia  2010                36.75
40   Europe  1910                 0.00
41   Europe  1930                 4.41
42   Europe  1940                 5.53
43   Europe  1950                10.37
44   Europe  1960                13.78
45   Europe  2010                22.80
52   Global  1900                 0.00
53   Global  1920                 1.12
54   Global  1930                 9.76
55   Global  1940                12.28
56   Global  1970                20.98
57   Global  2010                29.49
72  Oceania  1930                 0.00
73  Oceania  1940                 4.42
74  Oceania  1960                 9.46
75  Oceania  1980                17.86
76  Oceania  1990                19.87
77  Oceania  1990                20.31

In [18]:
america = north_america + south_america
continent_names = ['Europe', 'Asia', 'Africa', 'Oceania', 'America']
continents = [europe, asia, africa, oceania, america]

final_df = pd.DataFrame(data =[], index = AHDI_df.columns)

def clean_and_mean(x):
    y = x.dropna(axis = 0)
    continent_mean.append(y.mean())
    
for i in range(5) :
    continent_name = continent_names[i]
    continent_idx = continents[i]
    
    continent_AHDI_df = AHDI_df.loc[continent_idx, :].T.copy()
    continent_mean = []
    continent_AHDI_df.apply(lambda x: clean_and_mean(x), axis=1)
    final_df[continent_name] = continent_mean
    
final_df

        Europe      Asia    Africa   Oceania   America
1870  0.076059  0.006002  0.004431  0.097886  0.050382
1880  0.085659  0.006864  0.004765  0.124953  0.057888
1890  0.096530  0.008274  0.005219  0.159266  0.066093
1900  0.107444  0.010403  0.005931  0.199035  0.075118
1910  0.130205  0.019726  0.008353  0.261695  0.079399
1920  0.138289  0.022833  0.010046  0.270059  0.101041
1920  0.145491  0.028888  0.011508  0.293330  0.107837
1930  0.154461  0.034346  0.013122  0.308843  0.115962
1930  0.165802  0.039773  0.015149  0.319741  0.122608
1950  0.183611  0.058974  0.027403  0.344625  0.140288
1950  0.201869  0.067455  0.031779  0.355563  0.150908
1960  0.224609  0.079641  0.036916  0.371972  0.164346
1960  0.248353  0.091249  0.042401  0.373609  0.177163
1970  0.276561  0.109514  0.050527  0.417696  0.193734
1970  0.309346  0.125648  0.060283  0.481616  0.214915
1980  0.336520  0.180556  0.071464  0.513956  0.240493
1980  0.371886  0.208262  0.086212  0.556362  0.263842
1990  0.404965  0.232485  0.101062  0.593608  0.291596
1990  0.428166  0.253710  0.117414  0.639059  0.316940
2000  0.452319  0.274672  0.128379  0.675795  0.336402
2000  0.478994  0.295106  0.143195  0.729228  0.366434
2000  0.457984  0.286158  0.140462  0.563110  0.336021
2010  0.506904  0.326400  0.159147  0.704094  0.376721
2010  0.556605  0.360125  0.169636  0.719980  0.378543

In [19]:
# Index Entity AHDI
cont_AHDI_df = pd.DataFrame(data=[], columns = ['Year', 'Entity', 'AHDI'] )
for continent in final_df.columns :
    for i in range(len(final_df.loc[:, continent].values)) :
        year = final_df.index.values[i]
        value = final_df.loc[:, continent].values[i]
#         print(value)
        cont_AHDI_df = cont_AHDI_df.append({'Year': year, 'Entity': continent, 'AHDI': value},  ignore_index=True)
cont_AHDI_df

     Year   Entity      AHDI
0    1870   Europe  0.076059
1    1880   Europe  0.085659
2    1890   Europe  0.096530
3    1900   Europe  0.107444
4    1910   Europe  0.130205
..    ...      ...       ...
115  2000  America  0.336402
116  2000  America  0.366434
117  2000  America  0.336021
118  2010  America  0.376721
119  2010  America  0.378543

[120 rows x 3 columns]

In [20]:
!pip install pandasql
from pandasql import sqldf

Requirement already satisfied: pandasql in /opt/conda/lib/python3.8/site-packages (0.7.3)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.8/site-packages (from pandasql) (1.3.22)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas->pandasql) (2020.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [21]:
output = sqldf('''
SELECT df.Year, df.Entity, df.Fullscale_IQ_Change, cont_AHDI_df.AHDI 
FROM cont_AHDI_df
JOIN df
ON df.Year = cont_AHDI_df.Year
AND df.Entity = cont_AHDI_df.Entity
''')
columns = ['Decade', 'Continent', 'Fullscale_IQ_Change', 'Schooling_Index']
output.columns = columns 
output

    Decade Continent  Fullscale_IQ_Change  Schooling_Index
0     1910    Europe                 0.00         0.130205
1     1930    Europe                 4.41         0.154461
2     1930    Europe                 4.41         0.165802
3     1950    Europe                10.37         0.183611
4     1950    Europe                10.37         0.201869
5     1960    Europe                13.78         0.224609
6     1960    Europe                13.78         0.248353
7     2010    Europe                22.80         0.506904
8     2010    Europe                22.80         0.556605
9     1950      Asia                 0.00         0.058974
10    1950      Asia                 0.90         0.058974
11    1950      Asia                 0.00         0.067455
12    1950      Asia                 0.90         0.067455
13    1960      Asia                10.74         0.079641
14    1960      Asia                19.20         0.079641
15    1960      Asia                10.74         0.091249
16    1960      Asia                19.20         0.091249
17    1980      Asia                28.05         0.180556
18    1980      Asia                28.05         0.208262
19    2010      Asia                36.75         0.326400
20    2010      Asia                36.75         0.360125
21    1960    Africa                 0.00         0.036916
22    1960    Africa                 0.33         0.036916
23    1960    Africa                 0.00         0.042401
24    1960    Africa                 0.33         0.042401
25    1980    Africa                 3.39         0.071464
26    1980    Africa                 5.31         0.071464
27    1980    Africa                 3.39         0.086212
28    1980    Africa                 5.31         0.086212
29    1990    Africa                10.83         0.101062
30    1990    Africa                10.83         0.117414
31    2000    Africa                13.08         0.128379
32    2000    Africa                13.08         0.143195
33    2000    Africa                13.08         0.140462
34    1930   Oceania                 0.00         0.308843
35    1930   Oceania                 0.00         0.319741
36    1960   Oceania                 9.46         0.371972
37    1960   Oceania                 9.46         0.373609
38    1980   Oceania                17.86         0.513956
39    1980   Oceania                17.86         0.556362
40    1990   Oceania                19.87         0.593608
41    1990   Oceania                20.31         0.593608
42    1990   Oceania                19.87         0.639059
43    1990   Oceania                20.31         0.639059
44    1900   America                 0.00         0.075118
45    1920   America                 0.42         0.101041
46    1920   America                 0.42         0.107837
47    1930   America                12.90         0.115962
48    1930   America                12.90         0.122608
49    1970   America                27.78         0.193734
50    1970   America                27.78         0.214915
51    2000   America                32.26         0.336402
52    2000   America                32.26         0.366434
53    2000   America                32.26         0.336021

In [22]:
america_df = output[output['Continent'] == 'America']
asia_df = output[output['Continent'] == 'Asia']
africa_df = output[output['Continent'] == 'Africa']
oceania_df = output[output['Continent'] == 'Oceania']
eur_df = output[output['Continent'] == 'Europe']

america_df['Decade'] = (america_df['Decade'] - america_df.iloc[0,0])/10
asia_df['Decade'] = (asia_df['Decade'] - asia_df.iloc[0,0])/10
africa_df['Decade'] = (africa_df['Decade'] - africa_df.iloc[0,0])/10
oceania_df['Decade'] = (oceania_df['Decade'] - oceania_df.iloc[0,0])/10
eur_df['Decade'] = (eur_df['Decade'] - eur_df.iloc[0,0])/10

output = america_df.copy()
output = output.append(asia_df, ignore_index = True)
output = output.append(africa_df, ignore_index = True)
output = output.append(oceania_df, ignore_index = True)
output = output.append(eur_df, ignore_index = True)
output

<ipython-input-22-cae2a178f5b5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  america_df['Decade'] = (america_df['Decade'] - america_df.iloc[0,0])/10
<ipython-input-22-cae2a178f5b5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asia_df['Decade'] = (asia_df['Decade'] - asia_df.iloc[0,0])/10
<ipython-input-22-cae2a178f5b5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  africa_df['Decade'] = (africa_df['Decade'] - africa_df.iloc[0,0])/10
<ipython-input-22-cae2a178f5b5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oceania_df['Decade'] = (oceania_df['Decade'] - oceania_df.iloc[0,0])/10
<ipython-input-22-cae2a178f5b5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eur_df['Decade'] = (eur_df['Decade'] - eur_df.iloc[0,0])/10

    Decade Continent  Fullscale_IQ_Change  Schooling_Index
0      0.0   America                 0.00         0.075118
1      2.0   America                 0.42         0.101041
2      2.0   America                 0.42         0.107837
3      3.0   America                12.90         0.115962
4      3.0   America                12.90         0.122608
5      7.0   America                27.78         0.193734
6      7.0   America                27.78         0.214915
7     10.0   America                32.26         0.336402
8     10.0   America                32.26         0.366434
9     10.0   America                32.26         0.336021
10     0.0      Asia                 0.00         0.058974
11     0.0      Asia                 0.90         0.058974
12     0.0      Asia                 0.00         0.067455
13     0.0      Asia                 0.90         0.067455
14     1.0      Asia                10.74         0.079641
15     1.0      Asia                19.20         0.079641
16     1.0      Asia                10.74         0.091249
17     1.0      Asia                19.20         0.091249
18     3.0      Asia                28.05         0.180556
19     3.0      Asia                28.05         0.208262
20     6.0      Asia                36.75         0.326400
21     6.0      Asia                36.75         0.360125
22     0.0    Africa                 0.00         0.036916
23     0.0    Africa                 0.33         0.036916
24     0.0    Africa                 0.00         0.042401
25     0.0    Africa                 0.33         0.042401
26     2.0    Africa                 3.39         0.071464
27     2.0    Africa                 5.31         0.071464
28     2.0    Africa                 3.39         0.086212
29     2.0    Africa                 5.31         0.086212
30     3.0    Africa                10.83         0.101062
31     3.0    Africa                10.83         0.117414
32     4.0    Africa                13.08         0.128379
33     4.0    Africa                13.08         0.143195
34     4.0    Africa                13.08         0.140462
35     0.0   Oceania                 0.00         0.308843
36     0.0   Oceania                 0.00         0.319741
37     3.0   Oceania                 9.46         0.371972
38     3.0   Oceania                 9.46         0.373609
39     5.0   Oceania                17.86         0.513956
40     5.0   Oceania                17.86         0.556362
41     6.0   Oceania                19.87         0.593608
42     6.0   Oceania                20.31         0.593608
43     6.0   Oceania                19.87         0.639059
44     6.0   Oceania                20.31         0.639059
45     0.0    Europe                 0.00         0.130205
46     2.0    Europe                 4.41         0.154461
47     2.0    Europe                 4.41         0.165802
48     4.0    Europe                10.37         0.183611
49     4.0    Europe                10.37         0.201869
50     5.0    Europe                13.78         0.224609
51     5.0    Europe                13.78         0.248353
52    10.0    Europe                22.80         0.506904
53    10.0    Europe                22.80         0.556605

In [23]:
output.to_csv('../data/preprocessed_data.csv', index=False)

In [24]:
p_data = pd.read_csv('../data/preprocessed_data.csv')
p_data

    Decade Continent  Fullscale_IQ_Change  Schooling_Index
0      0.0   America                 0.00         0.075118
1      2.0   America                 0.42         0.101041
2      2.0   America                 0.42         0.107837
3      3.0   America                12.90         0.115962
4      3.0   America                12.90         0.122608
5      7.0   America                27.78         0.193734
6      7.0   America                27.78         0.214915
7     10.0   America                32.26         0.336402
8     10.0   America                32.26         0.366434
9     10.0   America                32.26         0.336021
10     0.0      Asia                 0.00         0.058974
11     0.0      Asia                 0.90         0.058974
12     0.0      Asia                 0.00         0.067455
13     0.0      Asia                 0.90         0.067455
14     1.0      Asia                10.74         0.079641
15     1.0      Asia                19.20         0.079641
16     1.0      Asia                10.74         0.091249
17     1.0      Asia                19.20         0.091249
18     3.0      Asia                28.05         0.180556
19     3.0      Asia                28.05         0.208262
20     6.0      Asia                36.75         0.326400
21     6.0      Asia                36.75         0.360125
22     0.0    Africa                 0.00         0.036916
23     0.0    Africa                 0.33         0.036916
24     0.0    Africa                 0.00         0.042401
25     0.0    Africa                 0.33         0.042401
26     2.0    Africa                 3.39         0.071464
27     2.0    Africa                 5.31         0.071464
28     2.0    Africa                 3.39         0.086212
29     2.0    Africa                 5.31         0.086212
30     3.0    Africa                10.83         0.101062
31     3.0    Africa                10.83         0.117414
32     4.0    Africa                13.08         0.128379
33     4.0    Africa                13.08         0.143195
34     4.0    Africa                13.08         0.140462
35     0.0   Oceania                 0.00         0.308843
36     0.0   Oceania                 0.00         0.319741
37     3.0   Oceania                 9.46         0.371972
38     3.0   Oceania                 9.46         0.373609
39     5.0   Oceania                17.86         0.513956
40     5.0   Oceania                17.86         0.556362
41     6.0   Oceania                19.87         0.593608
42     6.0   Oceania                20.31         0.593608
43     6.0   Oceania                19.87         0.639059
44     6.0   Oceania                20.31         0.639059
45     0.0    Europe                 0.00         0.130205
46     2.0    Europe                 4.41         0.154461
47     2.0    Europe                 4.41         0.165802
48     4.0    Europe                10.37         0.183611
49     4.0    Europe                10.37         0.201869
50     5.0    Europe                13.78         0.224609
51     5.0    Europe                13.78         0.248353
52    10.0    Europe                22.80         0.506904
53    10.0    Europe                22.80         0.556605